<h2>Items da lista {{id}}</h2>

<section *ngIf="items.length > 0">
  <mat-selection-list>
    <div *ngFor="let item of items" class="task-item" [ngClass]="{'item-done': item.done === true}">
    <mat-grid-list gutter="10px" cols="12" rowHeight="5:8">
      <mat-grid-tile class="text-item-done" [colspan]="10">
        <mat-list-item [class.text-item-done]="item.done">
          <mat-checkbox [checked]="item.done" (change)="checked(item)">{{ item?.name }}</mat-checkbox>
        </mat-list-item>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2">
        <button mat-icon-button aria-label="Edit button" (click)="edit($event, item)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button aria-label="Edit button" (click)="edit($event, item)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-divider></mat-divider>
    </div>
  </mat-selection-list>
</section>
<app-create-button
  (openCreateModal)="onCreateModal()">
</app-create-button>



