.list-item {
  width: 100%;
  text-align: left;

  &:hover{
    cursor: pointer;
  }
}

.item-done {
  .text-item-done {
    color: rgb(187, 185, 185) !important;
    font-style: italic;
    text-decoration: line-through;
    transition: .3s;
  }
}
h2 {
  text-align: center;
}
