<div class="example-container">
<mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  <h1 class="example-app-name">Shopping List</h1>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="side">
    <app-categories-list
      [sidenavRef]="sidenav"
      (openModal)="openDialogEvent($event)"
      (openCreateModal)="openDialogEvent($event)">
    </app-categories-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-container">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>
