<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav [mode]="side">
    <app-categories-list
      [sidenavRef]="sidenav"
      (openModal)="openDialogEvent($event)"
      (categoryCreatedEvent)="categoryCreated($event)">
    </app-categories-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span><button mat-button (click)="backClicked()">Voltar</button></span>

      <!-- This fills the remaining space of the current row -->
      <span class="remaining-space"></span>

      <span><button mat-button (click)="sidenav.toggle()">Lista de categorias</button></span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
