<h2>Listas do projeto {{categoryId}}</h2>

<mat-list role="list" *ngIf="lists.length > 0; else empty">
  <a mat-list-item role="listitem" *ngFor="let list of lists" [routerLink]="['/categories',categoryId, 'lists', list.id]">
    {{ list.name }}
    <mat-divider></mat-divider>
  </a>
</mat-list>
<ng-template #empty>
  <app-empty-list message="Ainda não temos nenhuma lista para esta categoria"></app-empty-list>
</ng-template>
<app-create-button
  (openCreateModal)="onCreateModal()">
</app-create-button>
